@tailwind base;
@tailwind components;
@tailwind utilities;

.react-responsive-modal-modal{
    background: transparent !important;
}

.react-responsive-modal-closeButton {
    top: 25px !important;
    right: 25px !important;
}

.react-responsive-modal-container{
    overflow-y: hidden !important;
}